@import './variables';
@import './base';
@import './components/boxed-view';
@import './components/button';
@import './components/header';
@import './components/form';
@import './components/page-content';
@import './components/page-player';
@import './components/AdminEntries';
//@import './components/checkbox';
//@import './components/item';

table {
  border-collapse: collapse;
  > tbody > tr:hover {
    background-color: rgba(0,0,0,0.1);
    //cursor: pointer;
  }
  td, th {
    border: 1px black solid;
    padding: 1ex;
    table {
      width: calc(100% + 2ex);
      margin: -1ex;
      border:none;
      tr:hover {
        background-color: rgba(0,0,0,0);
      }
      thead tr:first-of-type > * {
        border-top-width:0;
      }
      tbody tr:last-of-type > * {
        border-bottom-width:0;
      }      
      td:first-child, th:first-child {
        border-left-width:0;
      }
      td:last-child, th:last-child {
        border-right-width:0;
      }      
    }
  }
  th.narrow {
    width:2em;
    font-size:55%;
  }
  tr:not(:first-of-type) table {thead {
   display:none;
  }
  tbody tr:first-of-type > * {
    border-top-width:0;
  }}
}

.header {
  nav, ul, li {
    padding:0;
    margin:0;
    line-height:2.5;
    display: inline-block;
    &:not(first-child) {
      margin-left:1em;
    }
  }
  nav ul li {
    list-style-type:none;
    a {color:white;}
  }
}

.page-home {
  font-size:4vh;
  ul {
    list-style-type: none;
    li {
      padding:0.5em;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .qr-code {
    border:1px solid black;
    text-align: center;
    padding: 0.5em;
  }
}