.page-player {
  background-color: black;
  color:white;
  height:100vh;
  //background-color: #111;

  .screen {
    font-family: monospace;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    font-size:7vw;
    text-align:center;
    top:50%;
    transform: translateY(-50%);
    &.style-audience {
      color:rgb(44,255,44);
    }
  }

  .controls {
    opacity: 0.3;
    line-height:1.3em;
  }
}
